.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    background-color: rgb(0,125,125);
    padding: 35px;
    color: white;
    font-size: 50px;
}

.Nav {
    color: white;
    font-size: 30px;
}

.App-body {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.App-body__column{
    display: flex;
    flex-direction: column;
}

.NarrowColumn {
    flex-basis: 25%;
}

.WideColumn {
    flex-basis: 50%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1{
    color: rgb(0,125,125);
}